body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto 200px;
    row-gap: 40px;
}


.header {
    grid-column: 1 / span 3;
    background-color: teal;
    color: white;
    text-align: center;
    padding: 20px;
    border: 1px solid black
}

.display {
    background-color: lightgray;
    grid-column: 1 / span 2;
    text-align: center;
    border: 1px solid teal;

}


.history div {
    font-weight: bold;
    margin-left: 1rem;
}


.afterNext {
    display: grid;
    grid-column: 2/9;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid white;
    background-color: white;
  }
